Source: stx-nginx-ingress-controller-helm
Section: libs
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13),
 helm,
 ingress-nginx-helm,
 python3-k8sapp-nginx-ingress-controller,
 python3-k8sapp-nginx-ingress-controller-wheels,
 build-info
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: stx-nginx-ingress-controller-helm
Section: libs
Architecture: any
Depends: ${misc:Depends}
Description: StarlingX Nginx Ingress Controller Application FluxCD Helm Charts
 This package contains Fluxcd helm charts for the nginx ingress
 controller application.
